h1 {
    color: red;
}

p {
    color: blue;
}

h2 {
    color: green;
    text-align: center;
    font-size: 50px;
}

/* Este é um comentário */

/*
    Este 
    é
    um
    comentário
*/

/* Classes e Ids */

.p-texto {
    color: lightgreen;
}

#titulo-app {
    color: purple;
    font-size: 40px;
}

/* Cores */

.nome {
    color: orange;
}

.hexa {
    color: #6a40c4;
}

.rgba {
    color: rgba(17, 197, 214, 1);
}

/* Backgrounds */

.div-background {
    height: 300px;
    background-image: url('img/por-do-sol.jpg');
}

.h1-background {
    text-align: center;
    background-color: black;
    color: white;
}

/* Fontes */

.family {
    color: #000;
    font-size: 40px;
}

.family.serif {
    color: green;
}

.serif {
    font-family: "times new roman";
}

.sans-serif {
    font-family: arial;
}

.monospace {
    font-family: "Courier New";
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.bold {
    font-weight: bold;
}

.variant {
    font-variant: small-caps;
}

/* Box Model */

body {
    margin: 0;
}

.boxmodel {
    width: 200px;
    height: 200px;
    background-color: red;
    border: 3px solid blue;
    border-radius: 10px;
    /*padding: 20px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 10px;*/
    padding: 30px 20px 5px 10px;
    /*margin: 50px;*/
    margin: 5px 10px 10px 7px;
    /*display: none;
    display: inline;
    display: inline-block;*/
    display: block;
}

/* Positions */

.position {
    width: 500px;
    height: 500px;
    background-color: red;
    border-bottom: 2px dotted black;
}

.static {
    position: static;
    top: 100px;
}

.relative {
    position: relative;
    background-color: blue;
    top: 100px;
    left: 50px;
}

.absolute {
    position: absolute;
    background-color: purple;
    right: 0px;
    top: 0px;
}

.mini-absolute {
    width: 50px;
    height: 50px;    
}

.fixed {
    position: fixed;
    height: 200px;
    background-color: yellow;
    bottom: 0px;    
}

.sticky {
    position: sticky;
    background-color: green;
    top: 0px;
}

/* static - flow no html, não é alterado pelo top, left, right e bottom */
/* relative - flow no html, ela é alterada pelo top, left, right e bottom */
/* absolute - posiciona em qualquer lugar, e ela respeita o elemento antecessor */
/* fixed - posicina em qualquer lugar da tela, e é posicionada em relação ao html */
/* sticky - está no flow do html, porém ao passar o scroll ela funciona como fixed */

/* Float */

.container {
    padding: 50px;
}

.div-float {
    overflow: auto;
}

.img-float {
    height: 100px;
    width: 100px;
    float: left;
}

.p-float {
    color: #000;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

/* Unidades de Medida */

.pixel-1 {
    background-color: red;
    width: 100px;
    height: 100px;
}

.pixel-2 {
    background-color: blue;
    width: 500px;
    height: 50px;
}

.pai-porcentagem {
    height: 500px;
    width: 500px;
    background-color: black;
}

.porcentagem-1 {
    width: 50%;
    height: 50%;
    background-color: yellow;
}

.porcentagem-2 {
    width: 50%;
    height: 50%;
    background-color: green;
}